<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/registro.css">
</head>

<body>
    <header>
        <table id="cabeceraformulario">
            <tr>
                <td id="celdaDB" style='text-align:center' rowspan="2">
                    <img id="logoDB" src="../img/icono_cabecera.png" alt="">
                </td>
                <td id="celdaPHOTO">
                    <h3> <a id="PHOTODB" style="vertical-align:text-top" href="../index.html">PHOTO DB</a> </h3>
                </td>
                <td id="celdaCODIGO" style='text-align:right' rowspan="2">
                    <img id="logoCODIGO" src="../img/logo_codigo.PNG" href="../index.html" alt="">
                </td>
            </tr>
            <tr>
                <td id="celdaREGISTRO" style="vertical-align:text-top">
                    <a id="txtregistro" href="../views/registro.html">REGISTRO</a>
                </td>

            </tr>
        </table>
    </header>
    <br>
    <hr>
    <br>

                <table id="primera">
                    <tablehead>
                        <tr>
                            <th colspan="2" id="imagenlogo"><img src="https://img.icons8.com/ios/50/000000/camera.png" ></th>
                            <th colspan= "2" id="headertable">
                                <h1>Foto DB</h1>
                            </th>
                            <th> </th>
                            <th></th>
                        </tr>

                    </tablehead>
                    <br>
                    <tablebody id="cuerpoformulario">

                        <tr>
                            <td colspan="4">
                                <center><input type="text" id="txtusu" placeholder="USUARIO"></center>
                            </td>
                        </tr>
                        <tr class="espacio">
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><label for="nombre">Nombres</label></td>
                            <td></td>
                            <td><label for="apellido">Apellidos</label></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tdinputs"><input type="text" name="nombre" id="nombre" class="inputs"></td>
                            <td></td>
                            <td class="tdinputs"><input type="text" name="nombre" id="apellido" class="inputs"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><label for="email">Correo Electrónico</label></td>
                            <td></td>
                            <td><label for="password">Contraseña</label></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tdinputs"><input type="email" id="email" class="inputs"></td>
                            <td></td>
                            <td class="tdinputs"><input type="password" id="password" class="inputs"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><label for="cpassword">Confirmar Contraseña</label></td>
                            <td></td>
                            <td><label for="edad">Edad</label></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tdinputs"><input type="text" id="cpassword" class="inputs"></td>
                            <td></td>
                            <td class="tdinputs"><input type="number" id="edad" class="inputs"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><label for="telefono">Telefono</label></td>
                            <td></td>
                            <td><label for="ciudad">Ciudad</label></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tdinputs"><input type="char" id="telefono" class="inputs"></td>
                            <td></td>
                            <td class="tdinputs"><select name="ciudad" id="ciudad" class="inputs">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Arequipa</option>
                                    <option value="2">Lima</option>
                                    <option value="3">Piura</option>
                                </select></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2"><input type="checkbox" name="click" id="click">
                                <label for="click" id= "terminos">
                                    He leido y acepto los<a id="terminosycondiciones" href="./terminosycondiciones">Terminos y condiciones</a>
                                </label>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="espacio">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <centeR> <button id="btnregistrar">CREAR CUENTA</button></centeR>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="espacio">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tablebody>
                </table>


    <hr>
    <footer>
        <table id="tab">
            <tr>
                <td>Codigo Contact</td>
                <td>photodb@photodb.com</td>
                <td style='text-align:right'>Av. Arces 207 |</td>
                <td><img id="ubicacion" src="../img/mapa_footer.png" alt=""></td>
            </tr>
        </table>
    </footer>

    <hr>
</body>

</html>