<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/subir.css">
    <title>Document</title>
</head>

<body>
     <!--Cabecera-->
     <header  id="cabeceraformulario">
            <table>
                <tr>
                    <td id="celdaDB" style='text-align:center' rowspan="2">
                            <a href="../index.html"> <img id="logoDB" src="../img/icono_cabecera.png" alt="" > </a>
                    </td>
                    <td id="celdaPHOTO"> 
                        <h3>  <a id="PHOTODB" style ="vertical-align:text-top" href="../index.html">PHOTO DB</a> </h3>
                    </td>
                    <td id="celdaCODIGO" style='text-align:right' rowspan="2">
                        <img id="logoCODIGO" src    ="../img/logo_codigo.PNG" href="../index.html" alt="">
                    </td>
                </tr>
                <tr>
                    <td id="celdaREGISTRO" style ="vertical-align:text-top" > 
                        <a id="txtregistro" href="../views/subir.html">SUBIR VIDEO</a>
                    </td>
                    
                </tr>
                
            </table>
            <hr>
        </header>
        <!--fin cabecera-->
    <table id="tSubir" >
        <tr>
            <td>
                <p class="Cat01" id="cat01"> Categoria </p>
            </td>
            <td >
                <p class="Cat01" id="cat02"> #Etiquetas </p>
            </td>
            <td>
                <p class="Cat01" id="cat03"> Descripcion </p>
            </td>
        </tr>
        <tr>
            <td id="cola01">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Musica <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Arte <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Humor <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Historia <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Otros <br>
            </td>
            <td id="cola02">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag1"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag2"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag3"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag4"> <br>
            </td>
            <td class="tddesc" id="cola03">
                <input type="text" name="" value="" id="txtdesc" placeholder="Ingrese su descripcion aca...."> 
                
            </td>
        </tr>
    </table>
    <div class="divcontents">
        <br>

        <input type="checkbox" name="" id="">Deseo subirlo el dia: <input type="datetime-local" name="" id="">
    </div>
    <div class="divcontents" id="divbtn">
        <br>
        <input type="button" name="" value="SUBIR VIDEO" id="btnUpload">
    </div>


     <!--pide de pagina-->
  <footer>
        <table id="tab">
            <tr>
                <td>Codigo Contact</td>
                <td>photodb@photodb.com</td>
                <td style='text-align:right'>Av. Arces 207      |</td>
                <td><img id="ubicacion" src="../img/mapa_footer.png" alt=""></td>
            </tr>
        </table>
    </footer>
    <!--Fin de pie de pagina-->
</body>

</html>