<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/subir.css">
    <title>Document</title>
</head>

<body>
    <table id="tSubir" >
        <tr>
            <td>
                <p class="Cat01" id="cat01"> Categoria </p>
            </td>
            <td >
                <p class="Cat01" id="cat02"> #Etiquetas </p>
            </td>
            <td>
                <p class="Cat01" id="cat03"> Descripcion </p>
            </td>
        </tr>
        <tr>
            <td id="cola01">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Musica <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Arte <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Humor <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Historia <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Otros <br>
            </td>
            <td id="cola02">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag1"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag2"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag3"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag4"> <br>
            </td>
            <td class="tddesc" id="cola03">
                <input type="text" name="" value="" id="txtdesc" placeholder="Ingrese su descripcion aca...."> 
                
            </td>
        </tr>
    </table>
    <div class="divcontents">
        <br>

        <input type="checkbox" name="" id="">Deseo subirlo el dia: <input type="datetime-local" name="" id="">
    </div>
    <div class="divcontents" id="divbtn">
        <br>
        <input type="button" name="" value="SUBIR VIDEO" id="btnUpload">
    </div>

</body>

</html>