<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/subir.css">
    <title>Document</title>
</head>

<body>

        <table id="sublogo">
                <tbody><tr> 
                    <td id="col1">
                        <div id="logonube" style="text-align:right">
                        <img id="nube" src="../img/nubesubir.PNG" alt="">
                        </div>
                    </td>
                    <td id="col2">
                        <div id="logonube1" style="text-align:left">
                        <h2>  <p id="subvi2">SUBIR VIDEO</p> </h2>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    <br>
    <br>

    <form action="./procesar.html" method="GET">
        <div id="archivo">
            <!-- text=> Ingreso de Texto -->
            <label for="idnombres">ARCHIVO:</label>
            <input id="rec" type="text" name="nombres" disabled="”disabled">
            <input id="bot" type="submit" value="Cargar Archivo">
        </div>

        <br>

        <div id="advertencia" style="text-align:center">
            <p id="">*El archivo a subir tiene que tener máximo 250 Mb</p>
        </div>

        <br>

        <div style="text-align:center">
            <input type="checkbox" name="terminos" value="ter" id="terminos" required="">
            <label id="acep" for="terminos">Acepto terminos y condiciones</label>
            
        </div>



    </form>

    <br>
    <br>



    <table id="tSubir" >
        <tr>
            <td>
                <p class="Cat01" id="cat01"> Categoria </p>
            </td>
            <td >
                <p class="Cat01" id="cat02"> #Etiquetas </p>
            </td>
            <td>
                <p class="Cat01" id="cat03"> Descripcion </p>
            </td>
        </tr>
        <tr>
            <td id="cola01">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Musica <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Arte <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Humor <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Historia <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" value="">Otros <br>
            </td>
            <td id="cola02">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag1"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag2"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag3"> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="" placeholder="#hashtag4"> <br>
            </td>
            <td class="tddesc" id="cola03">
                <input type="text" name="" value="" id="txtdesc" placeholder="Ingrese su descripcion aca...."> 
                
            </td>
        </tr>
    </table>
    <div class="divcontents">
        <br>

        <input type="checkbox" name="" id="">Deseo subirlo el dia: <input type="datetime-local" name="" id="">
    </div>
    <div class="divcontents" id="divbtn">
        <br>
        <input type="button" name="" value="SUBIR VIDEO" id="btnUpload">
    </div>

</body>

</html>