<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="widht=device-widht,initial-scale=1">
  <title>videos</title>
  <link rel="stylesheet" href="../css/video.css">
</head>

<body>
  <div id="divprincipal">
    <table>
      <thead>
        <td id="la">
          <h1>
            LA NUEVA CAMARA NIKON D5600
          </h1>
        </td>
        <td rowspan="3">
          <iframe width="500px" height="315px" src="https://www.youtube.com/embed/89vwkpaTLLc" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </td>
        <tr>
          <td id="cua">
            el siguiente video representa la importancia de la resolución de la camara nikon
            y su gran apertura focal al tomar las fotos, con una claridad estupenda.
          </td>
        </tr>
        <td>

          <label for="bue">Buena</label>
          <input type="checkbox" name="buena" id="bue" value="b" required>
          <br>
          <label for="reg">regular</label>
          <input type="checkbox" name="regular" id="reg" value="r">
          <br>
          <label for="mal">mala</label>
          <input type="checkbox" name="mala" id="mal" value="m">

        </td>

    </table>

    <br>
    <br>
    <hr>

    <tbody>
      <br>
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Actualidad')">Actualidad</button>
        <button class="tablinks" onclick="openCity(event, 'Apps')">Apps</button>
        <button class="tablinks" onclick="openCity(event, 'Tops')">Top Semanal</button>
        <button class="tablinks" onclick="openCity(event, 'ilus')">Como Ilustrar</button>
        <button class="tablinks" onclick="openCity(event, 'Arti')">fotografos</button>

      </div>

      <div id="Actualidad" class="tabcontent">
        <table id="enf">
          <tr>
            <th>Novedades</th>
            <th>Ediciones</th>
            <th>Ayuda</th>
          </tr>
          <tr>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/Qhk0FsvaRdk" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/eePbtDQmylc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/ElYnj1O8NhY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
          </tr>
          <tr></tr>
          <tr>
            <td>
              <p>★★★★★</p>
            </td>
            <td></td>
            <td>
              <p>★★★★★</p>
            </td>
          </tr>
        </table>
      </div>

      <div id="Apps" class="tabcontent">
        <h3>Aplicaciones moviles</h3>
        <p>Por si te quedaste sin el ordenador,a continuación te presentamos las siguientes aplicaciones moviles que te
          sacaran de apuros.</p>
        <table id="enf">
          <tr>
            <th>picsart</th>
            <th>fragment</th>
            <th>photoshop touch</th>
          </tr>
          <tr>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/xQ_hkV8tWDk" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/hnH9S_HUYfQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/vVz0IntpCtw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
          </tr>
          <tr></tr>
          <tr>
            <td>
              <p>★★★★★</p>
            </td>
            <td></td>
            <td>
              <p>★★★★★</p>
            </td>
          </tr>
        </table>
      </div>

      <div id="Tops" class="tabcontent">
        <h3>Estas son las imagenes mas buscadas de la semana</h3>
        <table>
          <tr>
            <td><img src="../img/animals-1571345-pxhere.com.jpg" alt="" width="300px"></td>
            <td><img src="../img/nature-travel-sky-fun-windsports-air-sports-1574345-pxhere.com.jpg" alt=""
                width="300px"></td>
            <td><img src="../img/strawberry-strawberries-food-natural-foods-red-fruit-1573339-pxhere.com.jpg" alt=""
                width="300"></td>
          </tr>
        </table>
      </div>

      <div id="ilus" class="tabcontent">
        <h3>si no sabes ilustrar, estos videos te pueden ayudar.</h3>
        <table id="enf">
          <tr>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/mnabUM8PWTI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/crhrR6hRlnI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></iframe></td>
            <td rowspan="2" class="name"><iframe src="https://www.youtube.com/embed/SllfL8TaFfU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
          </tr>
          <tr></tr>
        </table>
      </div>

      <div id="Arti" class="tabcontent">
        <h3>las ultimas novedades en camaras del momento
        </h3>
        <table>
          <tr>
            <th>CANON</th>
            <th>NIKON</th>
            <th>FUJIFILM</th>
          </tr>
          <tr>
            <td><iframe src="https://www.youtube.com/embed/p-VkwHBq5sM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
            <td><iframe src="https://www.youtube.com/embed/nC2aTYDOXkA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
            <td><iframe src="https://www.youtube.com/embed/EMaRLs-Q7cw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></td>
          </tr>
        </table>
      </div>

      <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
      </script>


    </tbody>
  </div>
    <div>
      <a href="">contacto
        <pseudo:after>|<pseudo:after>
      </a>
      <a href="">Correo Electronico
        <pseudo:after>|</pseudo:after>
      </a>
      <a href="">Ubicacion
      </a>

    </div>

</body>

</html>