<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/video.css">
    <title>Inicio</title>
</head>

<body>
    <!--Cuerpo de pagina-->
    <table id="table1">
        <tr>
            <td id="img1"><img src="../img/icono_cabecera.png" alt="" height="40"></td>
            <td>Mi Pagina Web <br> VIDEOS</td>
            <td id="img2"><img src="../img/logo_codigo.PNG" alt="" height="40"></td>
        </tr>
    </table>
    <hr>


    <table class="tb1">
        <tr>
            <td>
                <h1>VIDEO TOP</h1>
                <h3>El siguiente video representa nuestros principios </h3>
            </td>
            <td><iframe width="100%" height="100%" src="https://www.youtube.com/embed/IYOYlqOitDA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></td>
        </tr>
    </table>

    <hr style="width:80%">
    <ul>
        <li><a href="#" class="active">Todos</a></li>
        <li><a href="#">Beginner</a></li>
        <li><a href="#">Basico</a></li>
        <li><a href="#">Intermedio</a></li>
        <li><a href="#">Avanzado</a></li>
    </ul>
    <table class="tb1">
        <tr>
            <td>Video 1</td>
            <td>Video 2</td>
            <td>Video 3</td>
        </tr>
        <tr>
            <td><iframe width="100%" height="100%" src="https://www.youtube.com/embed/13oXf68zRcM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe><br>
                <p>★★★☆☆</p>
            </td>
            <td><iframe width="100%" height="100%" src="https://www.youtube.com/embed/9-H8Yxz5fJs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe><br>
                <p>★★★★☆</p>
            </td>
            <td><iframe width="100%" height="100%" src="https://www.youtube.com/embed/hTWKbfoikeg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe><br>
                <p>★★★☆☆</p>
            </td>
        </tr>
    </table>
    <!--Pie de pagina-->
    <footer>
        <hr>
        <table id="tab">
            <tr>
                <td>Codigo Contact</td>
                <td>photodb@photodb.com</td>
                <td style='text-align:right'>Av. Arces 207</td>
                <td><img id="ubicacion" src="../img/mapa_footer.png" alt=""></td>
            </tr>
        </table>
    </footer>
</body>

</html>