*{
    margin: auto;
}
#table1{
    width: 100%;
    
}
#fila1{
    text-align: center;
    width: 90%;
    
}
#fila2{
    width: 10px;
    vertical-align: center;
    
}

nav{
    text-align: center;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: darkcyan;
}

#tab1{
    width: 100%;
    text-decoration: none

}
#tab{
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: darkcyan;
}

#ubicacion{
    width: 100px;
    height: 40px;
}

#tbody{
    margin: auto;
    width: 80%;
}
#tdtittle{
    background-color: #FFF759;
}
.tdimg{
    align-items: center;
    width: 10%;
}
.tdtxt{
    width: 60%;
}
.divs{
    width: 80%;
}
.video{
    color: red;
}



*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px
}


#tabla1{
    margin: 100px 0px 100px 0px;
    width: 100%;
    border-collapse: collapse;

}

#tabla1, .bordes {
    border: 2px solid black;
}

#contenido1{
    margin: 50px 0px 100px 10px;
}
body{
    margin-left: 150px;
    margin-right: 60px;
    font-size: 35px;
}
h4{
    margin: 0px 0px 20px 0px;
}
#videopopular{
    height: 300px;
    color: red ;
}

#corazones1{
    color: rgba(255, 0, 0, 1);
}
#corazones2{
    color: rgba(255, 0, 0, 0.3);
}
#objetivo{
    background-color: #e6f49a;
}
.videocontainer{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}
